@import 'nib'
@import 'reset'
@import 'typography'
@import 'colors'
@import 'grid'
// @import 'd3-tip'

$mapListHeight = 520px

#maps
  position relative

  h2
    font-size 18px
    width 100%
    text-align center
    position absolute
    left 0
    bottom 0.8em
    z-index 999

#map
  width 100%
  height $mapListHeight

#map2
  width 224px
  height 124px

  position absolute
  right 22px
  top 22px


.mapboxgl-ctrl.mapboxgl-ctrl-attrib
  display none !important

#navigation
  padding 6px

button
  background-color transparent
  font-size 18px
  font-weight bold
  //padding 6px
  border-radius 3px
  margin 0
  focus none
  border 1px solid #CCC

#autoplay-button
  padding 2px
  font-size 12px

.autoplay-active
  background-color #9AE431

#stoplist
  max-height $mapListHeight
  overflow auto
  line-height 1.5em

  li
    list-style-type none

.current-stop
  font-weight bold
