<div id="container" class="grid">

  <section id="maps" class="unit three-quarters">
    <h2 id="location-name"></h2>

    <section id="map">

    </section>

    <section id="map2">

    </section>
  </section>

  <section id="stoplist" lass="unit one-quarter">

  </section>
</div>

<section id="navigation" class="grid">
  <button id="prev-button" type="button" name="button" class="unit golden-small">Previous stop</button>
  <button id="next-button" type="button" name="button" class="unit golden-small">Next stop</button>
</section>

<section class="grid">
<button id="autoplay-button" type="button" name="button" class="unit golden-small">Auto play</button>
</section>
